jemma.osgi.ah.m2m.device/src/main/resources/schemas/m2m.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://schemas.telecomitalia.it/m2m"
	xmlns:m2m="http://schemas.telecomitalia.it/m2m"  
    xmlns:jxb="http://java.sun.com/xml/ns/jaxb" 
    jxb:version="2.0">   
    
<!-- 
    
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    jaxb:version="2.1"
    xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" 
    jaxb:extensionBindingPrefixes="xjc"
    
    
    <annotation> 
        <appinfo> 
            <jaxb:globalBindings> 
                <jaxb:javaType name="java.util.Calendar" xmlType="dateTime"
                    parseMethod="org.energy_home.jemma.internal.xml.utils.DateTimeAdapter.parseDateTime"
                    printMethod="org.energy_home.jemma.internal.xml.utils.DateTimeAdapter.printDateTime"
                />
            </jaxb:globalBindings> 
        </appinfo> 
    </annotation>

 
    <attributeGroup name="ListAttributeGroup">
	    <attribute name="TotalNrOfResources" type="unsignedInt" use="required" />
        <attribute name="StartIndex" type="unsignedInt" use="optional" />
        <attribute name="EndIndex" type="unsignedInt" use="optional" />        
	</attributeGroup>  
-->    
    
    <attributeGroup name="AddressedIdAttributeGroup">
        <attribute name="AddressedId" type="anyURI" use="optional">
            <annotation>
                <appinfo>
                    <jxb:property>
                        <jxb:javadoc>
The addressedId property is used to define the scope of contained resources id property
                        </jxb:javadoc>
                    </jxb:property>
                </appinfo>
            </annotation>
		</attribute>       
	</attributeGroup>

    <attributeGroup name="BatchTimeAttributeGroup">        
        <attribute name="Timestamp" type="long" use="required">
            <annotation>
                <appinfo>
                    <jxb:property>
                        <jxb:javadoc>                          
The Timestamp property specifies the time of the first attempt to send the ContentInstancesBatchRequest as UTC 
milliseconds from the Epoch (January 1, 1970 00:00:00.000 GMT)  
                        </jxb:javadoc>
                    </jxb:property>
                </appinfo>
            </annotation>            
        </attribute>
    </attributeGroup>    
    
    <attributeGroup name="BatchStatusAttributeGroup">
        <attribute name="BatchStatus" type="int" use="required" />       
        <attribute name="ResourceId" type="long" use="optional" />
    </attributeGroup>        
    
    <group name="IdGroup">
        <sequence>
            <element minOccurs="0" name="Id" type="anyURI">
                <annotation>
                    <appinfo>
                        <jxb:property>
                            <jxb:javadoc>
The id property is a unique identifier of the resource related to the containing 
resource identifier specified by the the context of the HTTP Request or by a parent 
element.
                            </jxb:javadoc>
                        </jxb:property>
                    </appinfo>
                </annotation>
			</element>          
		</sequence>
	</group>
    
    <group name="ContentInstanceIdGroup">
        <sequence>
            <element minOccurs="0" name="Id" type="long">
                <annotation>
                    <documentation>
                        The id element for a content instance must be a not negative value 
                        and is a unique identifier of the content instance resource related to the containing 
                        resource identifier specified by the the context of the HTTP Request or by a parent 
                        element (see contentInstanceItems and contentInstanceItemsStatus elements)
					</documentation>
				</annotation>
			</element>          
		</sequence>
	</group>
    
    <group name="AccessRightIdGroup">
        <sequence>
            <element minOccurs="0" name="AccessRightId" type="anyURI" />
        </sequence>
    </group>
    
    <group name="CreationTimeGroup">
        <sequence>
            <element minOccurs="0" name="CreationTime" type="long">
                <annotation>
                    <appinfo>
                        <jxb:property>
                            <jxb:javadoc>                          
    The CreationTime property specifies the time Time of creation of the resource as UTC 
    milliseconds from the Epoch (January 1, 1970 00:00:00.000 GMT)  
                            </jxb:javadoc>
                        </jxb:property>
                    </appinfo>
                </annotation>                    
            </element>
  		</sequence>
	</group>
    
    <group name="LastModifiedTimeGroup">
        <sequence>
            <element minOccurs="0" name="LastModifiedTime" type="long" />
  		</sequence>
	</group>

    <group name="CommonResourcesGroup">
        <sequence>
            <group ref="m2m:IdGroup"/> 
            <group ref="m2m:AccessRightIdGroup"/> 
            <group ref="m2m:CreationTimeGroup"/> 
            <group ref="m2m:LastModifiedTimeGroup"/> 
  		</sequence>
	</group>
    
    
    <simpleType name="SclStatusEnumeration">
		<restriction base="string">
			<enumeration value="Online" />
			<enumeration value="Offline" />
			<enumeration value="Disconnected" />
		</restriction>
	</simpleType>
 
 <!-- 
    <complexType name="Content">
        <choice>
            <any namespace="##other" minOccurs="1" maxOccurs="1">
 
                <annotation>
                    <appinfo>
                        <jaxb:property name="Data"/>
					</appinfo>
				</annotation>
			</any>  
        </choice>
	</complexType> 
 -->
    
    <complexType name="ContentInstanceItemStatus">
        <attributeGroup ref="m2m:BatchStatusAttributeGroup"/>
	</complexType> 
        
    <complexType name="ContentInstanceItemsStatus">
        <sequence>
            <element name="ContentInstanceItemStatus" type="m2m:ContentInstanceItemStatus" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
        <attributeGroup ref="m2m:AddressedIdAttributeGroup"/>
    </complexType>    
    
    
    <element name="SclBase">
        <annotation>
            <appinfo>
                <jxb:class>
                    <jxb:javadoc>
This resource is the root for all resources that are residing on the hosting SCL. 
                    </jxb:javadoc>
                </jxb:class>
            </appinfo>
        </annotation>
        <complexType>
            <sequence>
                <group ref="m2m:CommonResourcesGroup"/>
            </sequence>
        </complexType>
    </element>

    
    <element name="Scls">
        <complexType >
            <sequence>
                <group ref="m2m:CommonResourcesGroup"/>
            </sequence>
        </complexType> 
    </element>
 
    <element name="Scl">
        <complexType>
            <sequence>
                <group ref="m2m:CommonResourcesGroup"/>
                <element minOccurs="0" name="SclBaseId" type="anyURI"/>
                <element minOccurs="0" name="OnLineStatus" type="m2m:SclStatusEnumeration"/>
                <element minOccurs="0" name="ExpirationTime" type="long" />
            </sequence>
        </complexType>  
    </element>
    
    <element name="SclItems">
        <complexType>
            <sequence>
                <element ref="m2m:Scl" minOccurs="0" maxOccurs="unbounded" />
            </sequence>  
            <attributeGroup ref="m2m:AddressedIdAttributeGroup"/>
	    </complexType>
    </element>
   
    
    <element name="Containers">
        <complexType>
            <sequence>
                <group ref="m2m:CommonResourcesGroup"/>
            </sequence>
        </complexType>  
	</element>            
    
    <element name="Container">
        <complexType>
            <sequence>
                <group ref="m2m:CommonResourcesGroup"/>
                <element minOccurs="0" name="ExpirationTime" type="long">
                    <annotation>
                        <documentation>
                            Default expiration time is 2050-01-01T00:00:00.000Z
                        </documentation>
                    </annotation>
                </element>
                <element minOccurs="0" name="MaxNrOfInstances" type="int">
                    <annotation>
                        <documentation>
                            A negative value can be used to specify no limits on max number of content instances
                        </documentation>
                    </annotation>
                </element>
                <element minOccurs="0" name="MaxByteSize" type="int">
                    <annotation>
                        <documentation>
                            A negative value can be used to specify no limits on the max size of all content instances
                        </documentation>
                    </annotation>
                </element>
                <element minOccurs="0" name="MaxInstanceAge" type="int">
                    <annotation>
                        <documentation>
                            Max instance age is expressed in milliseconds; negative values can be used to specify that
                            no max age is defined
                        </documentation>
                    </annotation>
                </element>            
            </sequence>            
		</complexType>
    </element> 
    
    <element name="ContainerItems">
        <complexType>
            <sequence>
                <element ref="m2m:Container" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
        <attributeGroup ref="m2m:AddressedIdAttributeGroup"/>
		</complexType>
	</element>
    
    <element name="Subscriptions">
        <complexType>
            <sequence>
                <group ref="m2m:CommonResourcesGroup"/>
            </sequence>
        </complexType>  
	</element>            
    
    <element name="Subscription">
        <complexType>
            <sequence>
                <group ref="m2m:CommonResourcesGroup"/>
                <element minOccurs="1" name="Contact" type="anyURI">
                    <annotation>
                        <documentation>
                            URI used to send notifications
                        </documentation>
                    </annotation>
                </element>   
                <element minOccurs="1" name="AddressedIdFilter" type="anyURI">
                    <annotation>
                        <documentation>
                            URI used to filter notifications 
                        </documentation>
                    </annotation>
                </element> 
            </sequence>            
		</complexType>
    </element> 
    
    <element name="SubscriptionItems">
        <complexType>
            <sequence>
                <element ref="m2m:Subscription" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
        <attributeGroup ref="m2m:AddressedIdAttributeGroup"/>
		</complexType>
	</element>
                
    <element name="ContentInstances">
        <complexType>
            <sequence>
                <group ref="m2m:IdGroup"/>
                <group ref="m2m:CreationTimeGroup"/>
                <group ref="m2m:LastModifiedTimeGroup"/>
                <element minOccurs="0" name="CurrentNrOfInstances" type="int" />
                <element minOccurs="0" name="CurrentByteSize" type="int" />
            </sequence>
        </complexType>
    </element>
    
    <element name="ContentInstance">
        <complexType>
            <sequence>
                <group ref="m2m:ContentInstanceIdGroup" />
                <group ref="m2m:CreationTimeGroup" />
                <element name="Content" minOccurs="0" maxOccurs="1" type="anyType"/>
            </sequence>
        </complexType>    
    </element> 
       
    <element name="ContentInstanceItems">
        <complexType>
            <sequence>
                <element ref="m2m:ContentInstance" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
            <attributeGroup ref="m2m:AddressedIdAttributeGroup" />
        </complexType>       
	</element>    
    
    <element name="ContentInstanceItemsList">
        <complexType>
            <sequence>
                <element ref="m2m:ContentInstanceItems" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
        </complexType>       
	</element> 
    
    <element name="AccessRights">
        <complexType>
            <sequence>
                <group ref="m2m:CommonResourcesGroup"/>
			</sequence>
		</complexType>
	</element>
    
    <element name="AccessRight">
        <complexType>
            <sequence>
                <group ref="m2m:IdGroup"/>
                <group ref="m2m:CreationTimeGroup"/>
                <group ref="m2m:LastModifiedTimeGroup"/>
                <element name="ExpirationTime" type="long"/>                
			</sequence>
		</complexType>
    </element>
      
    <element name="AccessRightItems">
        <complexType>
            <sequence>
                <element ref="m2m:AccessRight" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
            <attributeGroup ref="m2m:AddressedIdAttributeGroup"/>
	    </complexType>
	</element>    

    
    <element name="ContentInstancesBatchRequest">
        <complexType>
            <sequence>
                <element ref="m2m:ContentInstanceItems" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
            <attributeGroup ref="m2m:BatchTimeAttributeGroup"/>
		</complexType>
	</element>
    
    <element name="ContentInstancesBatchResponse">
        <complexType>
            <sequence>
                <element minOccurs="0" maxOccurs="unbounded" name="ContentInstanceItemsStatus" type="m2m:ContentInstanceItemsStatus" />
            </sequence>
		</complexType>
	</element>
</schema>
